@charset "utf-8";
header h1
{
    background: #FFFFFF;
    color: #B67C6C;
}
main ul li a
{
    color: #EEEEEE;
}
main ul li a:hover
{
    color: #FFFFFF;
}
.answer_button
{
    background-color: #B67C6C;
    transition-property: background-color;
    transition-duration: 1s;
}
.answer_button:hover
{
    background-color: #362520;
}

.answer_button_off
{
    background-color: #999999;
    transition-property: background-color;
    transition-duration: 1s;
}
.answer_button:hover
{
    background-color: #555555;
}
.answer_button_add
{
    background-color: #1c325b;
    transition-property: background-color;
    transition-duration: 1s;
}
.answer_button_add:hover
{
    background-color: #97b0df;
}
