@charset "utf-8";
header
{
    position: relative;
    text-align: center;
    color: black;
}
header img
{
    width : 100%;
}
header h1
{
}
header h1 .socrates
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}
header h3
{

}
header h3 .socrates
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}
main
{
  text-align: center;
}
main ul li a
{
    transition: color 1s;
}
.answer_button, .answer_button_off, .answer_button_add, .question
{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    width: 100%;
}
main ul li h2
{
    text-align: center;
    width: 100%;
}
