@charset "utf-8";
/* iPhone 5/SE */
@media (min-width: 320px)
{
}

/* Galaxy S5 */
@media (min-width: 360px)
{
}

/* iPhone 6/7/8/X */
@media (min-width: 375px)
{
}

/* Pixel 2 and Pixel XL */
@media (min-width: 411px)
{
}

/* iPhone 6/7/8 SL */
@media (min-width: 414px)
{
}

@media (min-width: 768px)
{
    .answer_button, .answer_button_off, .answer_button_add
    {
        width: 49%;
    }
    h1
    {
        font-size: 24px;
    }
    .answer_button, .answer_button_off, .answer_button_add
    {
        font-size: 16px;
    }
}

@media (min-width: 992px)
{
}

@media (min-width: 1200px)
{
}
